#!/usr/bin/env python
import os

REPLAYDIR = os.environ['TMP']

# INSTRUCTIONS
# 1. Rename this file to config.py
# 2. Uncomment the names of the plugins you wish to use
# 3. Configure the relevant variables below

###############################
##      PLUGIN SETTINGS      ##
###############################
PLUGINS_DEBUG = True
PLUGINS_ENABLED = {         
    #"NotifyByPushover",
    #"NotifyByGoogleHome",
    #"NotifyBySonos",
    #"NotifyBySMS"
}

###############################
## PLUGIN SPECIFIC VARIABLES ##
###############################
# Plugin: NotifyByPushover (Note: App requires once-off in app purchase)
# Token, user and device information can be found on your pushover.net account dashboard
PUSHOVER_TOKEN = "<VALUEHERE>"
PUSHOVER_USER = "<VALUEHERE>"
PUSHOVER_DEVICE = "<VALUEHERE>"
PUSHOVER_QUOTEFILE = "https://s3-ap-southeast-2.amazonaws.com/hotswatch/hotsquotes.txt"
PUSHOVER_HIGHPRIORITY = True

# Plugin: NotifyByGoogleHome
GOOGLEHOME_TARGET = ""      # Name of the Google Home or Chromecast (Case sensitive)
GOOGLEHOME_AUDIO_FILE = "https://s3-ap-southeast-2.amazonaws.com/hotswatch/countdown_medium.mp3"
GOOGLEHOME_VOLUME = 0.5     # Between 0.0 and 1.0

# Plugin: NotifyBySonos
SONOS_AUDIO_FILE = "https://s3-ap-southeast-2.amazonaws.com/hotswatch/countdown_medium.mp3"
SONOS_VOLUME = 30          # Between 0 and 100
SONOS_TARGET_SPEAKERS = {
    #"Kitchen", 
    #"Study",
    #"Bathroom"
}

# Plugin: NotifyBySMS (sinch.com)  (Note: Paid service)
# Note: The SMS provider is currently going through a rebranding and, as a result, the APIs below could stop working. 
# If any issues are encountered, please raise an issue on Github
SMS_PLAN_ID = ""
SMS_TOKEN = ""
SMS_QUOTEFILE = "https://s3-ap-southeast-2.amazonaws.com/hotswatch/hotsquotes.txt"
SMS_SOURCE = ""     # Must be a valid MSISDN, short code or alphanumeric originator (see https://www.sinch.com/docs/sms/http-rest.html#request)
SMS_TARGET = ""     # Destination phone number, including country code (eg. +15555551234 or +61411000000)
